<h2>Información</h2>
<p>Argumentos de entrada: {{args}}</p>
<p>Plataforma: {{plataforma}}</p>
<p>Versión de Node: {{version}}</p>
<p>Memoria total reservada (rss): {{memoria}} MB</p>
<p>Path de ejecución: {{ruta}}</p>
<p>Process ID: {{processId}}</p>
<p>Carpeta del proyecto: {{folder}}</p>
<hr />